<div class="container p-4">
  <div class="row">
    <div class="col-10">
      <h3 class="mb-4">会員情報編集</h3>
      <%= form_with model: @customer, url: customers_information_path(@customer), method: :patch do |f| %>
      <table class="table table-borderless">
        <tr>
          <td>氏名</td>
          <td><%= f.text_field :first_name %></td>
          <td><%= f.text_field :last_name %></td>
        </tr>
        <tr>
          <td>カナ</td>
          <td><%= f.text_field :first_name_kana %></td>
          <td><%= f.text_field :last_name_kana %></td>
        </tr>
        <tr>
          <td>郵便番号</td>
          <td><%= f.text_field :post_code %></td>
        </tr>
        <tr>
          <td>住所</td>
          <td colspan="3"><%= f.text_field :address, size:"50" %></td>
        </tr>
        <tr>
          <td>電話番号</td>
          <td><%= f.text_field :telephone_number %></td>
        </tr>
        <tr>
          <td>メールアドレス</td>
          <td><%= f.text_field :email %></td>
        </tr>
        <tr>
          <td></td>
          <td><%= f.submit "編集内容を保存", class: "btn btn-success" %></td>
          <td><%= link_to "退会する", public_customers_unsubscribe_path, class: "btn btn-danger" %></td>
        </tr>
      </table>
      <% end %>
    </div>
  </div>
</div>