<div class="col-3">
    <%= render 'public/searches/genre' %>
  </div>
  <div class="col-9">
    <div class="row">
    <h4><strong>検索結果(全<%= @items.count %>件)</strong></h4>
    </div>
    <div class="search-items d-flex flex-wrap">
      <% @items.each do |item| %>
      <div class="col-3">
        <%= link_to item_path(item.id) do %><br>
          <%= image_tag item.image, size: "100x100" %><br>
          <%= item.name %><br>
        <% end %>
        <% if item.is_active %>
          ¥<%= item.price %>
        <% elsif %>
          <strong class="text-danger">販売停止中</strong>
        <% end %>
      </div>
      <% end %>
    </div>
    <%= paginate @items %>
  </div>