<div>
  <%= render 'public/searches/genre' %>
</div>
<div>
  <div>
    <h4><strong>検索結果(全<%= @items.count %>件)</strong></h4>
  </div>
  <!--first(4) 4つのアイテムに対してループし、flaseの場合は販売停止の表示にする-->
  <div>
    <% @items.first(4).each do |item| %>
    <div>
      <%= link_to item.name,public_item_path(item)  %><br>
        <%= image_tag item.item_image, size: "100x100" %><br>
        <%= item.name %><br>
      
      <% if item.is_active %>
        ¥<%= item.price %>
      <% elsif %>
        <strong>販売停止中</strong>
      <% end %>
    </div>
    <% end %>
  </div>
  <%= link_to "全ての商品をみる", public_items_path %>
  </div>
  <!--%= paginate @items %>-->