<%= render 'public/searches/genre', genres: @genres %>

<h1>Welcome!</h1>
<div>
    <p>ようこそ、ながのCAKEへ！<br>
        このサイトは、ケーキ販売のECサイトになります。<br>
        会員ではない方も商品の閲覧はできますが、<br>
        購入には会員登録が必要になります。
    </p>
</div>

<div>
  <h2>新着商品</h2>
  <div>
  <!--first(4) 4つのアイテムに対してループし、flaseの場合は販売停止の表示にする-->
    <% @items.first(4).each do |item| %>
      <div>
        <%= link_to item.name,public_item_path(item) %>
        <%= image_tag item.item_image, size: "150x150" %>
        <div>
          <p><%= item.name %></p>
          <% if item.is_active %>
            <p>¥ <%= item.price.to_s(:delimited) %></p>
          <% else %>
            <p>販売停止中</p>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
  <%= link_to "全ての商品をみる", public_items_path %>
</div>