<div class='container'>
  <div class='row'>
    <div class='col'>
      <h3>注文情報入力</h3>
      <%= form_with model: @order, url: confirm_public_orders_path, method: :post do |f| %>
        <h4>支払方法</h4>
          <div>
            <%= f.radio_button :payment_method, Order.payment_methods.key(0), checked: true %>  <!-- checked: trueでラジオボタンの初期状態を設定-->
            <%= f.label :payment_method_credit_card, Order.payment_methods_i18n[:credit_card] %>
          </div>
          <div>
            <%= f.radio_button :payment_method, Order.payment_methods.key(1) %>
            <%= f.label :payment_method_transfer, Order.payment_methods_i18n[:transfer] %>
          </div>

        <h4>お届け先</h4>
          <%= f.radio_button :select_address, "customer_address", checked: true %>
          <%= f.label :address_type, "ご自身の住所" %>
          〒<%= current_customer.post_code + " " + current_customer.address %>
          <%= current_customer.first_name + current_customer.last_name %>

          <br>
          <%= f.radio_button :select_address, "registered_address" %>
          <%= f.label :address_type, "登録済住所から選択" %>
          <%= f.select :address_id, options_from_collection_for_select(@addresses.all, :id, :address_display) %>

          <br>
          <%= f.radio_button :select_address, "new_address" %>
          <%= f.label :address_type, "新しいお届け先" %>
          <table>
            <tr>
              <td>郵便番号（ハイフンなし）</td>
              <td><%= f.text_field :post_code, placeholder: "0000000" %></td>
            </tr>
            <tr>
              <td>住所</td>
              <td><%= f.text_field :address, placeholder: "東京都渋谷区代々木神園町0-0" %></td>
            </tr>
            <tr>
              <td>宛名</td>
              <td><%= f.text_field :name, placeholder: "令和道子" %></td>
            </tr>
          </table>
        <%= f.submit "確認画面へ進む", class: "btn btn-primary" %>
        <% end %>
    </div>
  </div>
</div>