<div class='container'>
  <div class='row'>
    <div class='col'>
      <h4>商品一覧(全<%= @items.count %>件)</h4>
        <% @items.each do |item| %>
          <%= link_to public_item_path(item.id) do %>
            <%= image_tag item.item_image, size: "150x100" %>
            <%= item.name %>
          <% end %>
          <% if item.is_active %>
            ¥<%= number_with_delimiter(item.price) %>
          <% elsif %>
            販売停止中
          <% end %>
        <% end %>
    </div>
  </div>
</div>
<div class="d-flex justify-content-center">
  <ul class="pagination">
  <%= paginate @items %>
  </ul>
</div>